<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>欢迎页面-X-admin2.0</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="./css/font.css">
		<link rel="stylesheet" href="./css/xadmin.css">
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="./js/xadmin.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="x-nav">
				<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
					<i class="layui-icon" style="line-height:30px">ဂ</i></a>
			</div>
			<xblock>
				<button class="layui-btn" v-on:click="add"><i class="layui-icon"></i>添加</button>
				<span class="x-right" style="line-height:40px">共有数据：{{total}} 条,共有：{{pages}}页,当前第{{pageNum}}页</span>
			</xblock>
			<div class="x-body">
				<table class="layui-table">
					<thead>
						<tr>
							<th>序号</th>
							<th>标题</th>
							<th>创建时间</th>
							<th>是否置顶</th>
							<th>操作</th>
					</thead>
					<tbody>
						<tr v-for="item,index in news">
							<td>{{index+1}}</td>
							<td>{{item.title}}</td>
							<td>{{item.createdate | date_format}}</td>
							<td v-if="item.istop==0">置顶</td>
							<td v-if="item.istop==1">非置顶</td>
							<td class="td-manage">
								<a title="详情" v-on:click="detail(item.id)" href="javascript:;">
									<i class="icon iconfont">&#xe6a2;</i>
								</a>
								<a title="置顶" v-on:click="setup(item.id)" href="javascript:;" v-if="item.istop==1">
									<i class="layui-icon">↑</i>
								</a>
								<a title="取消置顶" v-on:click="cancel(item.id)" href="javascript:;" v-if="item.istop==0">
									<i class="layui-icon">↓</i>
								</a>
								<a title="编辑" v-on:click="edit(item.id)" href="javascript:;">
									<i class="layui-icon">&#xe642;</i>
								</a>
								<a title="删除" v-on:click="deleteNews(item.id)" href="javascript:;">
									<i class="layui-icon">&#xe640;</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="page">
					<a class="prev" href="javascript:void(0)" v-on:click="prePage">&lt;&lt;</a>
					<template v-for="(item,index) in pages">
						<template v-if="pageNum!=2&&pages!=2&&pages!=1 && pageNum==1 && item<pageNum+5 && item>pageNum-5">
							<a href="javascript:void(0)" v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
						</template>
						<template v-if="pageNum==2 && item<pageNum+4 && item>pageNum-4">
							<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
						</template>
						<template v-if="pageNum>2 && item<pageNum+3 && item>pageNum-3 && pageNum<pages-1">
							<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
						</template>
						<template v-if="pageNum!=2&&pageNum==pages-1 && item>pageNum-4">
							<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
						</template>
						<template v-if="pageNum!=2&&pageNum==pages && item>pageNum-5">
							<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
						</template>
					</template>
					<a class="next" href="javascript:void(0)" v-on:click="nextPage">&gt;&gt;</a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="js/vue-main.js"></script>
		<script type="text/javascript" src="js/moment.min.js"></script>
		<script>
			var vue = new Vue({
				el: "#main",
				data: {
					news: "",
					pageSize: 5,
					total: 0,
					pages: 0,
					pageNum: 1,
					inputtext: {},
				},
				methods: {
					setup: function(id) {
						var _this = this;
						layer.confirm("是否置顶该公告？", {
							btn: ['确认', '取消'] //按钮
						}, function() {
							axios.put('/news/' + id + '?istop=0')
								.then(function(res) {
									layer.msg('置顶成功', {
										icon: 1
									});
									_this.getNews();
								});
						})
					},
					cancel: function(id) {
						var _this = this;
						layer.confirm("是否取消置顶公告？", {
							btn: ['确认', '取消'] //按钮
						}, function() {
							axios.put('/news/' + id + '?istop=1')
								.then(function(res) {
									layer.msg('取消置顶成功', {
										icon: 1
									});
									_this.getNews();
								});
						})
					},
					getNews: function(pageIndex) {
						pageIndex = isNaN(pageIndex) ? 1 : pageIndex;
						var _this = this;
						axios.get('/news', {
							params: {
								pageNum: pageIndex,
								size: _this.pageSize
							}
						}).then(function(res) {
							console.info(res);
							_this.news = res.data.data.rows;
							_this.pageNum = pageIndex;
							_this.total = res.data.data.total;
							_this.pages = Math.ceil(_this.total / _this.pageSize);
						})
					},
					pageClick: function(page) {
						var _this = this;
						_this.pageNum = page;
						_this.getNews(page);
					},
					prePage: function() {
						this.pageNum--;
						if(this.pageNum < 1) {
							this.pageNum = 1;
							return;
						}
						this.getNews(this.pageNum);
					},
					nextPage: function() {
						this.pageNum++;
						if(this.pageNum > this.pages) {
							this.pageNum = this.pages;
							return;
						}
						this.getNews(this.pageNum);
					},
					edit: function(id) {
						var _this = this;
						layer.open({
							type: 2,
							title: '修改公告信息',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['877px', '600px'],
							content: ['news-edit.html?id=' + id],
							end: function() {
								_this.getNews();
							}
						})
					},
					add: function(id) {
						var _this = this;
						layer.open({
							type: 2,
							title: '修改公告信息',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['877px', '600px'],
							content: ['news-add.html?id=' + id],
							end: function() {
								_this.getNews();
							}
						})
					},
					deleteNews: function(id) {
						var _this = this;
						layer.confirm("是否删除公告？", {
							btn: ['确认', '取消'] //按钮
						}, function() {
							axios.delete('/news/' + id)
								.then(function(res) {
									layer.msg('删除成功', {
										icon: 1
									});
									_this.getNews();
								});
						})
					},
					detail:function(id){
						window.location.href = "http://localhost/cpts_1293_byy/news_detail.html?id=" + id;
					}
				},
				created: function() {
					this.getNews();
				},
				filters: {
					date_format: function(value) {
						if(!value) return '';
						var date = moment(value).toDate();
						return moment(date).format("YYYY-MM-DD HH:ss:mm");
					},
					statusFilt: function(value) {
						if(!value) return '';
						for(var i = 0; i < optionsUserType.length; i++) {
							var jn = optionsUserType[i];
							if(jn.value == value) {
								return jn.text;
							}
						}
						return '';
					}
				}
			})
		</script>
	</body>

</html>