<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>欢迎页面-X-admin2.0</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="./css/font.css">
		<link rel="stylesheet" href="./css/xadmin.css">
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="./js/xadmin.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="x-nav">
				<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
					<i class="layui-icon" style="line-height:30px">ဂ</i></a>
			</div>
			<div class="x-body">
				<div class="layui-row">
					<div class="layui-form layui-col-md12 x-so">
						<div class="layui-input-inline">
							<select v-model="inputtext.status" id="status">
								<option value="">订单状态</option>
								<option value="0">待付款</option>
								<option value="1">未发货</option>
								<option value="2">已发货</option>
								<!--<option value="3">未签收</option>-->
								<option value="4">已签收</option>
							</select>
						</div>
						<input type="text" v-model="inputtext.orderId" placeholder="请输入订单号" autocomplete="off" class="layui-input">
						<button class="layui-btn" v-on:click="getOrders()"><i class="layui-icon">&#xe615;</i></button>
						<span class="x-right" style="line-height:40px" v-on:click="onexport()"><a href="javascript:void(0)"><i style="font-size: 20px;" class="icon iconfont">&#xe73f;导出</i></a></span>
					</div>
				</div>
				<xblock>
					<span class="x-right" style="line-height:40px">共有数据：{{total}} 条,共有：{{pages}}页,当前第{{pageNum}}页</span>
				</xblock>
				<table class="layui-table" id="table">
					<thead>
						<tr>
							<!--<th>
								<div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
							</th>-->
							<th>订单编号</th>
							<th>收货人</th>
							<th>联系方式</th>
							<th>收货地址</th>
							<th>总金额</th>
							<th>应付金额</th>
							<th>商品单价</th>
							<th>购买数量</th>
							<th>订单状态</th>
							<th>下单时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in orders">
							<!--<td>
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
							</td>-->
							<td>{{item.orderItemId}}</td>
							<td>{{item.username}}</td>
							<td>{{item.phone}}</td>
							<th>{{item.province}}{{item.city}}{{item.region}}{{item.address}}</th>
							<td>{{item.payment}}</td>
							<td>{{item.payment}}</td>
							<td>{{item.price}}</td>
							<td>{{item.quantity}}</td>
							<td>{{item.status | statusFilter}}</td>
							<td>{{item.create_time | date_format}}</td>
							<td class="td-manage">
								<!--<a title="查看" onclick="x_admin_show('编辑','order-view.html')" href="javascript:;">
									<i class="layui-icon">&#xe63c;</i>
								</a>-->
								<a title="删除" v-on:click="del(item.orderItemId)" href="javascript:;">
									<i class="layui-icon">&#xe640;</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="page">
					<div>
						<a class="prev" href="javascript:void(0)" v-on:click="prePage">&lt;&lt;</a>
						<template v-for="(item,index) in pages">
							<template v-if="pageNum!=2&&pages!=2&&pages!=1 && pageNum==1 && item<pageNum+5 && item>pageNum-5">
								<a href="javascript:void(0)" v-bind:class="{ 'current': pageNum == item}" v-on:click="pageClick(item)">{{item}}</a>
							</template>
							<template v-if="pageNum==2 && item<pageNum+4 && item>pageNum-4">
								<a href="javascript:void(0)" v-bind:class="{ 'current': pageNum == item}" v-on:click="pageClick(item)">{{item}}</a>
							</template>
							<template v-if="pageNum>2 && item<pageNum+3 && item>pageNum-3 && pageNum<pages-1">
								<a href="javascript:void(0)" v-bind:class="{ 'current': pageNum == item}" v-on:click="pageClick(item)">{{item}}</a>
							</template>
							<template v-if="pageNum!=2&&pageNum==pages-1 && item>pageNum-4">
								<a href="javascript:void(0)" v-bind:class="{ 'current': pageNum == item}" v-on:click="pageClick(item)">{{item}}</a>
							</template>
							<template v-if="pageNum!=2&&pageNum==pages && item>pageNum-5">
								<a href="javascript:void(0)" v-bind:class="{ 'current': pageNum == item}" v-on:click="pageClick(item)">{{item}}</a>
							</template>
						</template>
						<a class="next" href="javascript:void(0)" v-on:click="nextPage">&gt;&gt;</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="js/vue-main.js"></script>
		<script type="text/javascript" src="js/moment.min.js"></script>
		<script type="text/javascript" src="js/FileSaver-1.3.3.min.js"></script>
		<script type="text/javascript" src="js/xlsx.full.min.js"></script>
		<script>
			var optionsOrderType = [{
					text: '待付款',
					value: '0'
				},
				{
					text: '未发货',
					value: '1'
				},
				{
					text: '已发货',
					value: '2'
				},
				{
					text: '未签收',
					value: '3'
				},
				{
					text: '已签收',
					value: '3'
				},
			];

			var vue = new Vue({
				el: "#main",
				data: {
					orders: "",
					pageSize: 5,
					total: 0,
					pages: 0,
					pageNum: 1,
					inputtext: {}
				},
				methods: {
					getOrders: function(pageIndex) {
						pageIndex = isNaN(pageIndex) ? 1 : pageIndex;
						var _this = this;
						axios.get("/orderItem", {
								params: {
									pageNum: pageIndex,
									size: _this.pageSize,
									orderItemId: _this.inputtext.orderId == "" ? null : _this.inputtext.orderId,
									status: $("#status").val() == "" ? null : $("#status").val()
								}
							})
							.then(function(response) {
								console.info(response);
								_this.orders = response.data.data.rows;
								_this.pageNum = pageIndex;
								_this.total = response.data.data.total;
								_this.pages = Math.ceil(_this.total / _this.pageSize);
							})
					},
					pageClick: function(page) {
						this.getOrders(page);
					},
					prePage: function() {
						this.pageNum--;
						if(this.pageNum < 1) {
							this.pageNum = 1;
							return;
						}
						this.getOrders(this.pageNum);
					},
					nextPage: function() {
						this.pageNum++;
						if(this.pageNum > this.pages) {
							this.pageNum = this.pages;
							return;
						}
						this.getOrders(this.pageNum);
					},
					del: function(id) {
						var _this = this;
						layer.confirm("是否删除该订单？", {
							btn: ['确认', '取消'] //按钮
						}, function() {
							axios.delete('/orderItem/' + id)
								.then(function(res) {
									layer.msg('删除成功', {
										icon: 1
									});
									_this.getOrders(_this.pageNum);
								});
						})
					},
					onexport: function(evt) {
						var wb = XLSX.utils.table_to_book(document.getElementById('table'));
						var wbout = XLSX.write(wb, {
							bookType: 'xlsx',
							type: 'binary'
						});
						saveAs(new Blob([this.s2ab(wbout)], {
							type: 'application/octet-stream'
						}), "订单列表.xlsx");
					},
					s2ab: function(s) {
						if(typeof ArrayBuffer !== "undefined") {
							var buf = new ArrayBuffer(s.length);
							var view = new Uint8Array(buf);
							for(var i = 0; i != s.length; ++i) {
								view[i] = s.charCodeAt(i) & 0xFF;
							}
							return buf;
						} else {
							var buf = new ArrayBuffer(s.length);
							for(var i = 0; i != s.length; ++i) {
								view[i] = s.charCodeAt(i) & 0xFF;
							}
							return buf;
						}
					},
				},
				created: function() {
					this.getOrders();
				},
				filters: {
					date_format: function(value) {
						if(!value) return '';
						var date = moment(value).toDate();
						return moment(date).format("YYYY-MM-DD HH:ss:mm");
					},
					statusFilter: function(value) {
						for(var i = 0; i < optionsOrderType.length; i++) {
							if(value == optionsOrderType[i].value) {
								return optionsOrderType[i].text;
							}
						}
					}
				}
			})
		</script>
	</body>

</html>