<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/style.css">
	</head>

	<body>
		<div id="main">
			<div class="rtcont fr">
				<div class="ddzxbt">上架商品</div>
				<div style="position: relative;" class="ml40 infor">
					<div>
						<form id="addProduct">
							<div class="item"><span>商品名称:</span><input type="text" class="form-control" v-model="product.name" name="name"></div>
							<div class="item"><span>选择种类</span>
								<select v-model="product.category" class="form-control" name="category">
									<optgroup v-for="item in categories" v-if="item.parentid==null" v-bind:label="item.name">
										<option v-for="opt in categories" v-bind:value="opt.id" v-if="opt.parentid==item.id">{{opt.name}}</option>
									</optgroup>
								</select>
							</div>
							<div class="item"><span>单价:</span><input type="text" class="form-control" v-model="product.price" name="price"></div>
							<div class="item"><span>数量:</span><input type="text" class="form-control" v-model="product.quality" name="quality"></div>
							<div class="item" v-if="product.img==null"><span>图片:</span>
								<p class="img_thumb"><b></b><em class="input_fieldBtn">上传图片</em><input type="file" name="file" class="input_opt" id="file"></p>
							</div>
							<div class="ml40 "><span>详情:</span><textarea class="form-control" id="content" name="detail"></textarea></div>
							<div class="mt10 item"><button type="button" v-on:click="submit" class="btn">上架</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="resource/js/jquery.min.js"></script>
		<script type="text/javascript" src="resource/kindeditor/kindeditor-all-min.js"></script>
		<script type="text/javascript" src="resource/kindeditor/lang/zh-CN.js"></script>
		<script type="text/javascript" src="resource/js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="resource/js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-main.js"></script>
		<script type="text/javascript" src="resource/js/moment.min.js"></script>
		<script type="text/javascript" src="resource/js/layer.js"></script>
		<script>
			var editor = null;
			KindEditor.ready(function(K) {　　　　　　　　
				editor = K.create('textarea[name="detail"]', {
					width: '700px',
					height: '200px'
				});
			});
			var vue = new Vue({
				el: "#main",
				data: {
					product: {},
					categories: ""
				},
				methods: {
					getCategory: function() {
						var _this = this;
						axios.get('/category')
							.then(function(res) {
								_this.categories = res.data.data.rows;
							})
					},
					submit: function() {
						var _this = this;
						var formData = new FormData();
						formData.append("detail", editor.html());
						formData.append("name", _this.product.name);
						formData.append("category", _this.product.category);
						formData.append("price", _this.product.price);
						formData.append("quality", _this.product.quality);
						formData.append("file", $("#file")[0].files[0]);
						axios.post('/product', formData)
							.then(function(res) {
								alert("上架成功");
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index); // 关闭layer
							});
					},
				},
				created: function() {
					this.getCategory();
				}
			})
		</script>
	</body>

</html>