<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="author" content="order by dede58.com" />
		<title>去哪儿买-收货地址</title>
		<link rel="shortcut icon" href="resource/image/logo_01.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="resource/css/style.css">
		<link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/main.css">
		<link rel="stylesheet" type="text/css" href="resource/css/layer.css">
		<link rel="stylesheet" type="text/css" href="resource/css/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/common.css">
		<script type="text/javascript" src="resource/js/jquery.min.js"></script>
		<script type="text/javascript" src="resource/js/jquery.citys.js"></script>
	</head>
	<style type="text/css">
		.jiesuandan {
			width: 938px;
		}
	</style>

	<body>
		<div id="main">
			<!-- start header -->
			<header>
				<div class="top center">
					<div class="left fl">
						<ul>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-star"></i>我的收藏</a>
							</li>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-phone"></i>联系客服</a>
							</li>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="right fr">
						<div class="gouwuche fr">
							<a href="gouwuche.html">购物车</a>
						</div>
						<div class="fr">
							<ul v-if="islogin">
								<li>
									<a href="self_info.html"><i class="fa fa-user"></i>{{user.username}}</a>
								</li>
								<li>|</li>
								<li v-on:click="logout">
									<a href="#">
										</i>退出登录</a>
								</li>
								<li>
									<a href="">消息通知</a>
								</li>
							</ul>
							<ul v-else>
								<li>
									<a href="login.html" target="_blank">登录</a>
								</li>
								<li>|</li>
								<li>
									<a href="register.html" target="_blank">注册</a>
								</li>
								<li>|</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
			<!--end header -->
			<!-- start banner_x -->
			<div class="banner_x center">
				<a href="./index.html" target="_blank">
					<div class="logo fl"></div>
				</a>
				<a href="">
					<div class="ad_top fl"></div>
				</a>
				<div class="nav fl">
					<ul>
						<li class="active">
							<a href="index.html">主页</a>
						</li>
						<li>
							<a href="liebiao.html?search=手机">手机二手</a>
						</li>
						<li>
							<a href="saleroom.html">拍卖场</a>
						</li>
						<li>
							<a href="my_release_product.html">我的发布</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end banner_x -->
			<!-- self_info -->
			<div class="grzxbj">
				<div class="selfinfo center">
					<div class="lfnav fl">
						<div class="ddzx">订单中心</div>
						<div class="subddzx">
							<ul>
								<li>
									<a href="dingdanzhongxin.html">我的订单</a>
								</li>
							</ul>
						</div>
						<div class="ddzx">个人中心</div>
						<div class="subddzx">
							<ul>
								<li>
									<a href="self_info.html">我的个人中心</a>
								</li>
								<li>
									<a href="my_sell_product.html">我卖出的</a>
								</li>
								<li>
									<a href="my_by_product.html">我买到的</a>
								</li>
								<li>
									<a href="my_release_product.html">我发布的</a>
								</li>
								<li>
									<a href="address.html" style="color:#ff6700;font-weight:bold;">收货地址</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="rtcont fr">
						<div class="ddzxbt">收货地址</div>
						<div style="position: relative;" class="ml40 infor">
							<div id="demo" class="form-inline mb20 ml160 mt20 citys">
								<p>
									<select v-model="inputtext.province" name="province" class="form-control"></select>
									<select v-model="inputtext.city" name="city" class="form-control"></select>
									<select v-model="inputtext.region" name="area" class="form-control"></select>
								</p>
							</div>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="address" class="col-sm-2 control-label">详细地址</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" autocomplete="off" id="address" placeholder="详细地址" v-model="inputtext.address">
									</div>
								</div>
								<div class="form-group">
									<label for="postal" class="col-sm-2 control-label">邮政编码</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" autocomplete="off" id="postal" placeholder="邮政编码" v-model="inputtext.postal">
									</div>
								</div>
								<div class="form-group">
									<label for="consignee" class="col-sm-2 control-label">收货人姓名</label>
									<div class="col-sm-6">
										<input type="email" class="form-control" autocomplete="off" id="consignee" placeholder="收货人姓名" v-model="inputtext.consignee">
									</div>
								</div>
								<div class="form-group mt20">
									<label for="phone" class="col-sm-2 control-label">手机号码</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" autocomplete="off" id="phone" placeholder="手机号码" v-model="inputtext.phone">
										</select>
									</div>
								</div>
								<div class="form-group center">
									<label for="inputEmail3" class="col-sm-2 control-label"></label>
									<div class="col-sm-5">
										<input type="button" class="form-control btn-default" v-on:click="addAddress" value="保存">
									</div>
								</div>
							</div>
						</div>
						<div style="margin-top: 50px;">
							<table v-if="address!=''">
								<tr>
									<td>收货人</td>
									<td>所在地区 </td>
									<td>详细地址 </td>
									<td>邮编</td>
									<td>电话/手机</td>
									<td>操作</td>
									<td v-if="address!=null"></td>
								</tr>
								<tr v-for="item in address">
									<td>{{item.consignee}}</td>
									<td>{{item.province}}{{item.city}}{{item.region}}</td>
									<td>{{item.address}}</td>
									<td>{{item.postal}}</td>
									<td>{{item.phone}}</td>
									<td>
										<a href="javascript:void(0)" v-on:click="editAddress(item.addrid)">修改</a>&nbsp;&nbsp;&nbsp;
										<a href="javascript:void(0)" v-on:click="del(item.addrid)">删除</a>
									</td>
									<td>
										<a href="javascript:void(0)" v-if="item.status==1" v-on:click="setDefault(item.addrid)">设置默认地址</a>
										<span v-if="item.status==0">默认地址</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<footer class="mt20 center">
			<div class="mt20">Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div>
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
		</footer>
		<script src="resource/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="resource/js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-main.js"></script>
		<script type="text/javascript" src="resource/js/moment.min.js"></script>
		<script type="text/javascript" src="resource/js/layer.js"></script>
		<script type="text/javascript">
			var vue = new Vue({
				el: "#main",
				data: {
					user: sessionStorage,
					islogin: sessionStorage.length > 0,
					total: 0,
					inputtext: {},
					address: ""
				},
				created: function() {
					this.search();
					this.$nextTick(function() {
						$('#demo').citys({
							valueType: 'name',
							province: '北京市',
							city: '东城区',
							area: ''
						});
					})
				},
				methods: {
					search: function() {
						var _this = this;
						axios.get('/address').then(function(res) {
							console.info(res);
							_this.address = res.data.data.rows;
						})
					},
					addAddress: function() {
						var _this = this;
						console.info(_this.inputtext);
						if(_this.inputtext.province == "" || _this.inputtext.province == null) {
							alert("请选择省");
							return;
						}
						if(_this.inputtext.city == "" || _this.inputtext.city == null) {
							alert("请选择市");
							return;
						}
						if($("#address").val() == "" || $("#address").val() == null) {
							alert("请填写详细地址");
							return;
						}
						if($("#consignee").val() == "" || $("#consignee").val() == null) {
							alert("请填写收货人姓名");
							return;
						}
						if($("#phone").val() == "" || $("#phone").val() == null) {
							alert("请填写手机号码");
							return;
						}
						if($("#postal").val() == "" || $("#postal").val() == null) {
							_this.inputtext.postal = '000000';
						}
						axios.post('/address', _this.inputtext)
							.then(function(res) {
								alert("保存成功");
								window.location.reload();
							})
					},
					// 删除
					del: function(eve) {
						var _this = this;
						if(confirm("是否删除该地址？")) {
							axios.delete('/address/' + eve)
								.then(function(res) {
									alert("删除成功");
									_this.search();
								})
						}
					},
					setDefault: function(eve) {
						var _this = this;
						if(confirm("是否设置此地址为默认地址？")) {
							axios.put('/address/' + eve, {
									status: "0",
								})
								.then(function(res) {
									alert("设置成功");
									_this.search();
								})
						}
					},
					logout: function() {
						logout();
						location.href = "login.html";
					},
					editAddress: function(addrid) {
						layer.open({
							type: 2,
							title: '修改地址信息',
							shadeClose: true,
							scrollbar: true,
							closeBtn: 1,
							area: ['800px', '450px'],
							content: ['editAddress.html?addrid=' + addrid],
							end: function() {
								location.href = "address.html";
							}
						})
					},
				}
			})
		</script>
	</body>

</html>