<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/style.css">
		<link rel="stylesheet" href="resource/css/bootstrap-datetimepicker.css"></link>
		<link rel="stylesheet" href="resource/css/layer.css"></link>
	</head>
	<style type="text/css">
		.bott {
			border: 1px #007AB6 solid;
			background-color: #007AB6;
			color: #fff;
			padding: 0px 70px 0px 70px;
		}
	</style>

	<body>
		<div id="main">
			<div class="rtcont">
				<div class="ddzxbt">修改商品</div>
				<div style="position: relative;" class="ml40 infor">
					<div>
						<form id="addProduct">
							<div style="position: relative;" class="ml40 infor">
								<div class="form-horizontal">
									<div class="form-group">
										<label for="postal" class="col-sm-2 control-label">是否拍卖:</label>
										<div class="col-sm-6">
											<select v-model="product.isnotauction" v-on:change="isNotAuction" class="form-control" name="isnotauction">
												<option value="1">是</option>
												<option value="0">否</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="consignee" class="col-sm-2 control-label">商品名称:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" v-model="product.name" name="name">
										</div>
									</div>
									<div class="form-group mt20">
										<label for="phone" class="col-sm-2 control-label">选择种类:</label>
										<div class="col-sm-6">
											<select v-model="product.category" class="form-control" name="category">
												<optgroup v-for="item in categories" v-if="item.parentid=='0'" v-bind:label="item.name">
													<option v-for="opt in categories" v-bind:value="opt.id" v-if="opt.parentid==item.id">{{opt.name}}</option>
												</optgroup>
											</select>
										</div>
									</div>
									<div class="form-group" v-if="product.isnotauction==1">
										<label for="consignee" class="col-sm-2 control-label">最低价格:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" v-model="product.minPrice" name="minPrice">
										</div>
									</div>
									<div class="form-group" v-if="product.isnotauction==1">
										<label for="consignee" class="col-sm-2 control-label">最高价格:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" v-model="product.maxPrice" name="maxPrice">
										</div>
									</div>
									<div class="form-group" v-if="product.isnotauction==1">
										<label for="consignee" class="col-sm-2 control-label">每次叫价:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" v-model="product.increments" name="increments">
										</div>
									</div>
									<div class="form-group" v-if="product.isnotauction==0">
										<label for="consignee" class="col-sm-2 control-label">单价:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" v-model="product.price" name="price">
										</div>
									</div>
									<div class="form-group" id="outTimeDiv">
										<label for="consignee" class="col-sm-2 control-label">竞拍结束时间:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" v-model="product.outtime" name="outTime">
										</div>
									</div>
									<div class="form-group">
										<label for="consignee" class="col-sm-2 control-label">数量:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="outTime" v-model="product.quality" name="quality">
										</div>
									</div>
									<div class="form-group" v-if="product.img==''||product.img==null">
										<label for="consignee" class="col-sm-2 control-label">图片:</label>
										<p class="img_thumb"><b></b><em class="input_fieldBtn">上传图片</em><input type="file" v-on:change="uploadImg" name="file" class="input_opt" id="file"></p>
									</div>
									<div class="form-group" v-if="product.img!=''"><label for="consignee" class="col-sm-2 control-label">图片:</label>
										<div class="busin_img">
											<a><img v-bind:src="'/images/'+product.img"><em></em></a><button class="bott" type="button" v-on:click="delImg()">删除</button>
										</div>
									</div>
									<div class="form-group">
										<label for="consignee" class="col-sm-2 control-label">详情:</label>
										<div class="col-sm-6">
											<textarea class="form-control" id="content" name="detail"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="mt10 item"><button type="button" v-on:click="submit" class="bott">上架</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="resource/js/jquery.min.js"></script>
		<script type="text/javascript" src="resource/kindeditor/kindeditor-all-min.js"></script>
		<script type="text/javascript" src="resource/kindeditor/lang/zh-CN.js"></script>
		<script type="text/javascript" src="resource/js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="resource/js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-main.js"></script>
		<script type="text/javascript" src="resource/js/moment.min.js"></script>
		<script type="text/javascript" src="resource/js/layer.js"></script>
		<script type="text/javascript" src="resource/js/bootstrap.min.js"></script>
		<script src="resource/js/bootstrap-datetimepicker.js"></script>
		<script src="resource/js/bootstrap-datetimepicker.zh-CN.js"></script>
		<script>
			$(function() {
				$("#outTime").datetimepicker({
					format: 'yyyy-mm-dd hh:ii'
				});
			})
			var editor = null;
			KindEditor.ready(function(K) {　　　　　　　　
				editor = K.create('textarea[name="detail"]', {
					width: '700px',
					height: '200px'
				});
			});
			var id = GetQueryString("proid");
			var vue = new Vue({
				el: "#main",
				data: {
					product: {},
					categories: "",
					detail: ''
				},
				methods: {
					isNotAuction: function() {
						var _this = this;
						if(_this.product.isnotauction == "1") {
							$("#outTimeDiv").show();
						} else {
							$("#outTimeDiv").hide();
						}
					},
					getProduct: function() {
						var _this = this;
						axios.get('/product/' + id)
							.then(function(res) {
								console.info(res);
								_this.product = res.data.data;
								_this.detail = _this.product.detail;
								editor.html(_this.detail);
							})
					},
					getCategory: function() {
						var _this = this;
						axios.get('/category')
							.then(function(res) {
								_this.categories = res.data.data.rows;
							})
					},
					submit: function() {
						var _this = this;
						axios.put('/product/' + id, $("#addProduct").serialize())
							.then(function(res) {
								alert("修改成功");
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index); // 关闭layer
							})
					},
					uploadImg: function() {
						var _this = this;
						var formData = new FormData();
						formData.append("file", $("#file")[0].files[0]);
						axios.put('/product/' + id, formData)
							.then(function(res) {
								alert("修改成功");
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index); // 关闭layer
							})
					},
					delImg: function() {
						if(confirm("是否删除该图片？")) {
							axios.put('/product/delImag/' + id)
								.then(function(res) {
									alert("删除成功");
									this.getProduct();
								})
						}
					},
				},
				created: function() {
					var _this = this;
					axios.get('/product/' + id)
						.then(function(res) {
							console.info(res);
							_this.product = res.data.data;
							_this.detail = _this.product.detail;
							editor.html(_this.detail);
							if(_this.product.isnotauction == "1") {
								$("#outTimeDiv").show();
							} else {
								$("#outTimeDiv").hide();
							}
						})
					this.getCategory();

				}
			})
		</script>
	</body>

</html>