<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="author" content="order by dede58.com" />
		<title>去哪儿买商城</title>
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		<link rel="shortcut icon" href="resource/image/logo_01.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="resource/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/style.css">
		<link rel="stylesheet" type="text/css" href="resource/css/swiper.min.css">
	</head>

	<style type="text/css">
		.nav {
			float: left;
		}
		
		.lunbo {
			display: flex;
		}
		
		.pinpai {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	</style>

	<body>
		<div id="app">
			<!-- start header -->
			<header>
				<div class="top center">
					<div class="left fl">
						<ul>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-star"></i>我的收藏</a>
							</li>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-phone"></i>联系客服</a>
							</li>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="right fr">
						<div class="gouwuche fr">
							<a href="gouwuche.html">购物车</a>
						</div>
						<div class="fr">
							<ul v-if="islogin">
								<li>
									<a href="self_info.html"><i class="fa fa-user"></i>{{user.username}}</a>
								</li>
								<li>|</li>
								<li v-on:click="logout">
									<a href="#">
										</i>退出登录</a>
								</li>
								<li>
									<a href="">消息通知</a>
								</li>
							</ul>
							<ul v-else>
								<li>
									<a href="login.html" target="_blank">登录</a>
								</li>
								<li>|</li>
								<li>
									<a href="register.html" target="_blank">注册</a>
								</li>
								<li>|</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
			<!--end header -->

			<!-- start banner_x -->
			<div class="banner_x center">
				<a href="index.html" target="_blank">
					<div class="logo fl"></div>
				</a>

				<div class="nav fl">
					<ul>
						<li class="active">
							<a href="index.html">主页</a>
						</li>
						<li>
							<a href="liebiao.html?search=手机">手机二手</a>
						</li>
						<li>
							<a href="saleroom.html">拍卖场</a>
						</li>
						<li>
							<a href="my_release_product.html">我的发布</a>
						</li>
					</ul>
				</div>
				<div class="search fr">
					<form>
						<div class="text fl">
							<input type="text" class="shuru" placeholder="" v-model="search">
						</div>
						<div class="submit fl">
							<input type="button" v-on:click="searchForm" class="sousuo" value="搜索" />
						</div>
						<div class="clear"></div>
					</form>
					<div class="clear"></div>
				</div>
			</div>
			<!-- end banner_x -->

			<!-- start banner_y -->
			<div class="banner_y center">
				<div class="nav">
					<ul>
						<li v-for="item1 in categories" v-if="item1.parentid==null">
							<a :href="['liebiao.html?cateid=' + item1.id]">{{item1.name}}</a>
							<div class="pop">
								<div class="left fl">
									<div>
										<div class="xuangou_left fl" v-for="item2 in categories" v-if="item1.id==item2.parentid">
											<a :href="['liebiao.html?cateid=' + item2.id]">
												<span class="fl">{{item2.name}}</span>
											</a>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="lunbo swiper-container">
					<div class="swiper-button-prev"></div>
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="item in banner">
							<a v-bind:href="item.linkUrl"><img width="990px" height="460px" v-bind:src="'/images/'+ item.image" /></a>
						</div>
						<!--<div class="swiper-slide">
							<a href="#"><img width="990px" height="460px" src="resource/image/2.jpg" /></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img width="990px" height="460px" src="resource/image/3.jpg" /></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img width="990px" height="460px" src="resource/image/4.jpg" /></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img width="990px" height="460px" src="resource/image/5d.jpg" /></a>
						</div>-->
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- start danpin -->
			<div class="danpin center">
				<!--新品-->
				<div class="biaoti center">最新上架二手</div>
				<div class="main center">
					<div class="mingxing fl" v-for="item in products">
						<div class="sub_mingxing">
							<a :href="['xiangqing.html?id=' + item.proid]"><img :src="'/images/' + item.img" alt=""></a>
						</div>
						<div class="pinpai">
							<a :href="['xiangqing.html?id=' + item.proid]" v-bind:title="item.name">{{item.name}}</a>
						</div>
						<div class="youhui">暂无优惠</div>
						<div class="jiage">{{item.price}}元</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="peijian w">
				<div class="biaoti center">电脑配件专区</div>
				<div class="main center">
					<div class="content">
						<div class="remen fl">
							<img width="234px" height="300px" src="resource/image/peijian1.jpg">
						</div>
						<div class="remen fl" v-for="item in computer">
							<div class="xinpin"><span style="background:red">火爆</span></div>
							<div class="tu">
								<a :href="['xiangqing.html?id=' + item.proid]"><img width="150px" height="150px" src="resource/image/peijian2.jpg"></a>
							</div>
							<div class="miaoshu">
								<a :href="['xiangqing.html?id=' + item.proid]">{{item.name}}</a>
							</div>
							<div class="jiage">{{item.price}}元</div>
							<div class="piao">
								<a :href="['xiangqing.html?id=' + item.proid]">
									<span class="pinpai" id="pdtail">{{item.detail}}</span>
									<span>来至于mi狼牙的评价</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="peijian w">
				<div class="biaoti center">家具家电</div>
				<div class="main center">
					<div class="content">
						<div class="remen fl">
							<img width="234px" height="300px" src="resource/image/jiadian.jpg">
						</div>
						<div class="remen fl" v-for="item in furniture">
							<div class="xinpin"><span style="background:red">火爆</span></div>
							<div class="tu">
								<a :href="['xiangqing.html?id=' + item.proid]"><img width="150px" height="150px" src="resource/image/peijian2.jpg"></a>
							</div>
							<div class="miaoshu">
								<a :href="['xiangqing.html?id=' + item.proid]"></a>
							</div>
							<div class="jiage">{{item.price}}元</div>
							<div class="piao">
								<a :href="['xiangqing.html?id=' + item.proid]">
									<span>{{item.detail}}</span>
									<span>来至于mi狼牙的评价</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="resource/js/jquery.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="resource/js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-main.js"></script>
		<script type="text/javascript" src="resource/js/moment.min.js"></script>
		<script type="text/javascript" src="resource/js/slide.js"></script>
		<script type="text/javascript" src="resource/js/swiper.min.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					products: "",
					pageNum: 1,
					pageSize: 5,
					total: 0,
					pages: 0,
					inputPage: '',
					user: sessionStorage,
					islogin: sessionStorage.length > 0,
					categories: "",
					carts: "",
					search: '',
					banner: [],
					computer: [],
					furniture: [],
				},
				created: function() {
					this.getBanner();
					this.getProduct();
					this.getCategory();
					this.getComputer();
					this.$nextTick(function() {
						swiper = new Swiper('.swiper-container', {
							autoplay: {
								delay: 2000, //2秒切换一次
							},
							navigation: {
								nextEl: '.swiper-button-next',
								prevEl: '.swiper-button-prev',
							},
							pagination: {
								el: '.swiper-pagination',
								spaceBetween: 10,
								slidesPerView: 4,
								watchSlidesVisibility: true,
							},
						});
					});
				},
				methods: {
					getBanner: function() {
						var _this = this;
						axios.get('/banner', {
							params: {
								size: 5,
								pageNum: 1,
								isShow: 0,
							}
						}).then(function(res) {
							console.info(res);
							_this.banner = res.data.data.rows;
						})
					},
					// 获取类别信息
					getCategory: function() {
						var _this = this;
						axios.get('/category', {
							params: {
								size: 1000,
								pageNum: 1
							}
						}).then(function(response) {
							_this.categories = response.data.data.rows;
						})
					},
					getlocal: function() {},
					logout: function() {
						logout();
						location.href = "login.html";
					},
					// 获取商品信息
					getProduct: function(pageIndex) {
						pageIndex = isNaN(pageIndex) ? 1 : pageIndex;
						var _this = this;
						axios.get('/product', {
							params: {
								pageNum: pageIndex,
								size: _this.pageSize,
								isNotAuction: 0  // 非拍卖品
							}
						}).then(function(response) {
							console.info(response);
							_this.products = response.data.data.rows;
							_this.pageNum = pageIndex;
							_this.total = response.data.data.total;
							_this.pages = Math.ceil(_this.total / _this.pageSize);
						})
					},
					getComputer: function() {
						var _this = this;
						axios.get('/product', {
							params: {
								pageNum: 1,
								size: 4,
								isNotAuction: 0,
								cateid: 3
							}
						}).then(function(response) {
							console.info(response);
							_this.computer = response.data.data.rows;
						})
					},
					getFurniture: function() {
						var _this = this;
						axios.get('/product', {
							params: {
								pageNum: 1,
								size: 4,
								isNotAuction: 0,
								cateid: 4
							}
						}).then(function(response) {
							_this.furniture = response.data.data.rows;
						})
					},
					edit: function(id) {
						location.href = "update.html?id=" + id;
					},
					pageClick: function(page) {
						this.getProduct(page);
					},
					prePage: function() {
						this.pageNum--;
						if(this.pageNum < 1) {
							this.pageNum = 1;
							return;
						}
						this.getProduct(this.pageNum);
					},
					nextPage: function() {
						this.pageNum++;
						if(this.pageNum > this.pages) {
							this.pageNum = this.pages;
							return;
						}
						this.getProduct(this.pageNum);
					},
					searchForm: function() {
						location.href = "liebiao.html?search=" + this.search;
					}
				},
				mounted: function() {
					this.getlocal();
				}
			});
		</script>

	</body>

</html>