<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="author" content="order by dede58.com" />
		<title>收货地址</title>
		<link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/style.css">
		<link rel="stylesheet" type="text/css" href="resource/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/city-picker.css">
		<link rel="stylesheet" type="text/css" href="resource/css/main.css">
		<link rel="stylesheet" type="text/css" href="resource/css/layer.css">
	</head>
	<style type="text/css">
		.jiesuandan {
			width: 1000px;
		}
	</style>

	<body>
		<div id="main">
			<!-- start header -->
			<header>
				<div class="top center">
					<div class="left fl">
						<ul>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-star"></i>我的收藏</a>
							</li>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-phone"></i>联系客服</a>
							</li>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="right fr">
						<div class="gouwuche fr">
							<a href="gouwuche.html">购物车</a>
						</div>
						<div class="fr">
							<ul v-if="islogin">
								<li>
									<a href="#"><i class="fa fa-user"></i>{{user.username}}</a>
								</li>
								<li>|</li>
								<li v-on:click="logout">
									<a href="#">
										</i>退出登录</a>
								</li>
								<li>
									<a href="">消息通知</a>
								</li>
							</ul>
							<ul v-else>
								<li>
									<a href="login.html" target="_blank">登录</a>
								</li>
								<li>|</li>
								<li>
									<a href="register.html" target="_blank">注册</a>
								</li>
								<li>|</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
			<!--end header -->
			<!-- start banner_x -->
			<div class="banner_x center">
				<a href="./index.html" target="_blank">
					<div class="logo fl"></div>
				</a>
				<a href="">
					<div class="ad_top fl"></div>
				</a>
				<div class="nav fl">
					<ul>
						<li>
							<a href="">小米手机</a>
						</li>
						<li>
							<a href="">红米</a>
						</li>
						<li>
							<a href="">平板·笔记本</a>
						</li>
						<li>
							<a href="">电视</a>
						</li>
						<li>
							<a href="">盒子·影音</a>
						</li>
						<li>
							<a href="">路由器</a>
						</li>
						<li>
							<a href="">智能硬件</a>
						</li>
						<li>
							<a href="">服务</a>
						</li>
						<li>
							<a href="">社区</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end banner_x -->
			<!-- self_info -->
			<div class="grzxbj">
				<div class="selfinfo center">
					<div class="lfnav fl">
						<div class="ddzx">订单中心</div>
						<div class="subddzx">
							<ul>
								<li>
									<a href="">我的订单</a>
								</li>
								<li>
									<a href="">意外保</a>
								</li>
								<li>
									<a href="">团购订单</a>
								</li>
								<li>
									<a href="">评价晒单</a>
								</li>
							</ul>
						</div>
						<div class="ddzx">个人中心</div>
						<div class="subddzx">
							<ul>
								<li>
									<a href="./self_info.html">我的个人中心</a>
								</li>
								<li>
									<a href="">消息通知</a>
								</li>
								<li>
									<a href="">优惠券</a>
								</li>
								<li>
									<a href="" style="color:#ff6700;font-weight:bold;">收货地址</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="rtcont fr">
						<div class="ddzxbt">上架商品</div>
						<div style="position: relative;" class="ml40 infor">
							<div>新增收货地址
								<form id="addProduct" @submit.prevent="submit">
									<div class="item"><span>商品名称:</span><input type="text" class="form-control" v-model="product.name" name="name"></div>
									<div class="item"><span>选择种类</span>
										<select v-model="product.category" class="form-control" name="category">
											<optgroup v-for="item in categories" v-if="item.parentid==null" v-bind:label="item.name">
												<option v-for="opt in categories" v-bind:value="opt.id" v-if="opt.parentid==item.id">{{opt.name}}</option>
											</optgroup>
										</select>
									</div>
									<div class="item"><span>单价:</span><input type="text" class="form-control" v-model="product.price" name="price"></div>
									<div class="item"><span>数量:</span><input type="text" class="form-control" v-model="product.quality"></div>
									<div class="item"><span>图片:</span>
										<p class="img_thumb"><b></b><em class="input_fieldBtn">上传图片</em><input type="file" name="file" class="input_opt" id="file"></p>
									</div>
									<div class="ml40 "><span>详情:</span><textarea class="form-control" id="content" name="detail"></textarea></div>
									<div class="mt10 item"><button class="btn">上架</button></div>
								</form>
							</div>
						</div>
						<div style="margin-top: 50px;">
							<table>
								<tr>
									<td>商品名</td>
									<td>单价 </td>
									<td>数量 </td>
									<td>上架时间</td>
									<td>操作</td>
								</tr>
								<tr v-for="item in products">
									<td>{{item.name}}</td>
									<td>{{item.price}}</td>
									<td>{{item.quality}}</td>
									<td>{{item.createdate | date_format}}</td>
									<td>
										<a href="javascript:void(0)" v-on:click="editProduct(item.proid)">修改</a>&nbsp;&nbsp;&nbsp;
										<a href="javascript:void(0)" v-on:click="del(item.proid)">下架</a>
									</td>
								</tr>
							</table>
						</div>
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li>
									<a href="javascript:void(0)" aria-label="Previous" v-on:click="prePage">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li v-for="page in pages" v-bind:class="{ 'active': pageNum == page}">
									<a href="javascript:void(0)" v-on:click="pageClick(page)">{{page}}</a>
								</li>
								<li>
									<a href="javascript:void(0)" aria-label="Next" v-on:click="nextPage">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!-- self_info -->

			<!--<footer class="mt20 center">
				<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
				<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014] 0059-0009号</div>
				<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
			</footer>-->
		</div>
		<script type="text/javascript" src="resource/js/jquery.min.js"></script>
		<script type="text/javascript" src="resource/js/layer.js"></script>
		<script type="text/javascript" src="resource/kindeditor/kindeditor-all-min.js"></script>
		<script type="text/javascript" src="resource/kindeditor/lang/zh-CN.js"></script>
		<script type="text/javascript" src="resource/js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="resource/js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-main.js"></script>
		<script type="text/javascript" src="resource/js/moment.min.js"></script>
		<script src="https://huangchanghuan.github.io/city-picker/js/city-picker.data.js"></script>
		<script type="text/javascript" src="resource/js/city-picker.js"></script>
		<script type="text/javascript" src="resource/js/moment.min.js"></script>
		<script type="text/javascript">
			//初始化编辑器
			var editor = null;
			KindEditor.ready(function(K) {　　　　　　　　　
				editor = K.create('textarea[name="detail"]', {
					width: '700px',
					height: '200px'
				});
			});
			var vue = new Vue({
				el: "#main",
				data: {
					user: sessionStorage,
					islogin: sessionStorage.length > 0,
					total: 0,
					inputtext: {},
					products: "",
					product: {},
					categories: "",
					pages: 0,
					inputPage: '',
					pageNum: 1,
					pageSize: 5,

				},
				created: function() {
					this.getProducts();
					this.getCategories();
				},
				methods: {
					getProducts: function(pageIndex) {
						var _this = this;
						pageIndex = isNaN(pageIndex) ? 1 : pageIndex;
						axios.get('/product/getByUser', {
								params: {
									pageNum: pageIndex,
									size: _this.pageSize,
								}
							})
							.then(function(res) {
								_this.products = res.data.data.rows;
								_this.total = res.data.data.total;
								_this.pages = Math.ceil(_this.total / _this.pageSize);
							})
					},
					getCategories: function() {
						var _this = this;
						axios.get('/category')
							.then(function(res) {
								_this.categories = res.data.data.rows;
							})
					},
					editProduct: function(proid) {
						layer.open({
							type: 2,
							title: '修改上架商品信息', //不显示标题
							shadeClose: true,
							scrollbar: true,
							closeBtn: 1,
							area: ['800px', '450px'],
							content: ['editProduct.html?proid=' + proid],
						})
					},
					submit: function() {
						var _this = this;
						var formData = new FormData($("#addProduct")[0]);
						axios.post('/product', formData)
							.then(function(res) {
								alert("上架成功");
								_this.getProducts();
							})
					},
					del: function(id) {
						var _this = this;
						if(confirm("是否下架该商品")) {
							axios.delete('/product/' + id)
								.then(function(res) {
									alert("下架成功");
									_this.getProducts();
								})
						}
					},
					pageClick: function(page) {
						this.getProducts(page);
					},
					prePage: function() {
						this.pageNum--;
						if(this.pageNum < 1) {
							this.pageNum = 1;
							return;
						}
						this.getProducts(this.pageNum);
					},
					nextPage: function() {
						this.pageNum++;
						if(this.pageNum > this.pages) {
							this.pageNum = this.pages;
							return;
						}
						this.getProducts(this.pageNum);
					},
				},
				filters: {
					date_format: function(value) {
						if(!value) return '';
						return moment(value).format('YYYY-MM-DD');
					},
				}
			})
		</script>
	</body>

</html>