<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="author" content="order by dede58.com" />
		<title>去哪儿买二手商城-个人中心</title>
		<link rel="stylesheet" type="text/css" href="resource/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="resource/css/style.css">
		<link rel="shortcut icon" href="resource/image/logo_01.png" type="image/x-icon" />
	</head>
	<style type="text/css">
		.upload_img {
			position: relative;
		}
		
		#image {
			opacity: 0;
			filter: alpha(opacity=0);
			height: 95px;
			width: 100px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9;
		}
		
		#avatar {
			height: 95px;
			width: 100px;
		}
	</style>

	<body>
		<div id="main">
			<!-- start header -->
			<header>
				<div class="top center">
					<div class="left fl">
						<ul>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-star"></i>我的收藏</a>
							</li>
							<li class="drodown-show">
								<a href="#"><i class="fa fa-phone"></i>联系客服</a>
							</li>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="right fr">
						<div class="gouwuche fr">
							<a href="gouwuche.html">购物车</a>
						</div>
						<div class="fr">
							<ul v-if="islogin">
								<li>
									<a href="self_info.html"><i class="fa fa-user"></i>{{userInfo}}</a>
								</li>
								<li>|</li>
								<li v-on:click="logout">
									<a href="#">
										</i>退出登录</a>
								</li>
								<li>
									<a href="">消息通知</a>
								</li>
							</ul>
							<ul v-else>
								<li>
									<a href="login.html" target="_blank">登录</a>
								</li>
								<li>|</li>
								<li>
									<a href="register.html" target="_blank">注册</a>
								</li>
								<li>|</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
			<!--end header -->
			<!-- start banner_x -->
			<div class="banner_x center">
				<a href="./index.html" target="_blank">
					<div class="logo fl"></div>
				</a>
				<a href="">
					<div class="ad_top fl"></div>
				</a>
				<div class="nav fl">
					<ul>
						<li>
							<a href="">小米手机</a>
						</li>
						<li>
							<a href="">红米</a>
						</li>
						<li>
							<a href="">平板·笔记本</a>
						</li>
						<li>
							<a href="">电视</a>
						</li>
						<li>
							<a href="">盒子·影音</a>
						</li>
						<li>
							<a href="">路由器</a>
						</li>
						<li>
							<a href="">智能硬件</a>
						</li>
						<li>
							<a href="">服务</a>
						</li>
						<li>
							<a href="">社区</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end banner_x -->
			<!-- self_info -->
			<div class="grzxbj">
				<div class="selfinfo center">
					<div class="lfnav fl">
						<div class="ddzx">订单中心</div>
						<div class="subddzx">
							<ul>
								<li>
									<a href="./dingdanzhongxin.html">我的订单</a>
								</li>
								<li>
									<a href="">我卖出的</a>
								</li>
								<li>
									<a href="">我买到的</a>
								</li>
								<li>
									<a href="">我发布的</a>
								</li>
							</ul>
						</div>
						<div class="ddzx">个人中心</div>
						<div class="subddzx">
							<ul>
								<li>
									<a href="./self_info.html" style="color:#ff6700;font-weight:bold;">我的个人中心</a>
								</li>
								<li>
									<a href="">我卖出的</a>
								</li>
								<li>
									<a href="">我买到的</a>
								</li>
								<li>
									<a href="my_release_product.html">我发布的</a>
								</li>
								<li>
									<a href="address.html">收货地址</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="rtcont fr infor">
						<div class="grzlbt ml40">我的资料</div>
						<form id="update" @submit.prevent="editUser">
							<div class="form-horizontal">
								<div class="ml40 item upload_img">
									<input type="file" v-on:change="uploadImg()" name="img" accept="image/png, image/jpeg, image/gif, image/jpg" id="image" />
									<img v-bind:src="user.img==null?'resource/image/logo_01.png':baseUrl+user.img" id="avatar" />
								</div>
								<div class="form-group">
									<label for="username" class="col-sm-2 control-label">昵称</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="username" name="username" placeholder="昵称" v-model="user.username">
									</div>
								</div>
								<div class="form-group">
									<label for="tel" class="col-sm-2 control-label">手机号</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="tel" name="tel" placeholder="手机号" v-model="user.tel">
									</div>
								</div>
								<div class="form-group">
									<label for="email" class="col-sm-2 control-label">邮箱</label>
									<div class="col-sm-6">
										<input type="email" class="form-control" id="email" name="email" placeholder="邮箱" v-model="user.email">
									</div>
								</div>
								<div class="form-group">
									<label for="gender" class="col-sm-2 control-label">性别</label>
									<div class="col-sm-6">
										<!--<input type="text" class="form-control" id="gender" placeholder="性别" v-model="user.gender">-->
										<select v-model="user.gender" class="form-control" name="gender">
											<option value="0">男</option>
											<option value="1">女</option>
										</select>
									</div>
								</div>
								<div class="form-group center">
									<label for="inputEmail3" class="col-sm-2 control-label"></label>
									<div class="col-sm-5">
										<input type="button" class="form-control" v-on:click="editUser()" value="保存">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- self_info -->

		<script type="text/javascript" src="resource/js/jquery.min.js"></script>
		<script type="text/javascript" src="resource/js/layer.js"></script>
		<script type="text/javascript" src="resource/js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="resource/js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="resource/js/vue-main.js"></script>
		<script>
			var vue = new Vue({
				el: "#main",
				data: {
					user: {},
					islogin: sessionStorage.length > 0,
					baseUrl: '/images/',
					userInfo: sessionStorage.username
				},
				methods: {
					getUser: function() {
						var _this = this;
						axios.get('/user/' + sessionStorage.getItem("userId"))
							.then(function(res) {
								console.info(res);
								_this.user = res.data.data;
							})
					},
					editUser: function() {
						var _this = this;
						axios.put('/user/update/' + sessionStorage.getItem("userId"), $("#update").serialize())
							.then(function() {
								alert("修改成功");
								sessionStorage.setItem("username", _this.user.username);
								_this.userInfo = _this.user.username;
							})
					},
					uploadImg: function() {
						var _this = this;
						var formData = new FormData();
						formData.append("img", $("#image")[0].files[0]);
						axios.put('/user/update/' + sessionStorage.getItem("userId"), formData)
							.then(function() {
								alert("修改成功");
								_this.getUser();
							})
					},
					logout: function() {
						logout();
						location.href = "login.html";
					},
				},
				created: function() {
					this.getUser();
				}
			})
		</script>
	</body>

</html>